#popup {
    display: none;
    background: #ffffff;
    position: absolute;
    padding: 10px;
    border: 1px solid #888888;
}

#option {
    padding: 10px;
    display: inline-block;
    font-size: 14px;
}

#filters {
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    float: right;
}
#filters span {
    padding: 20px;
}
.pointer-top-left {
    border-radius: 0px 10px 10px 10px;
    box-shadow: 6px 6px 10px #888888;
}
.pointer-top-right {
    border-radius: 10px 0px 10px 10px;
    box-shadow: -6px 6px 10px #888888;
}
.pointer-bottom-right {
    border-radius: 10px 10px 0px 10px;
    box-shadow: -6px -6px 10px #888888;
}
.pointer-bottom-left {
    border-radius: 10px 10px 10px 0px;
    box-shadow: 6px -6px 10px #888888;
}


.header {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.data {
    font-size: 16px;
    padding: 10px;
}

.hidden {
    visibility: hidden;
}

.inline {
    display: inline;
}