line.axis {
    stroke-width: 1;
    stroke: #000000;
}

line.grid {
    stroke-width: 1;
    stroke: #cccccc;
    stroke-dasharray: 2 2;
}

line.lane {
    stroke-width: 1;
    stroke: #000000;
    stroke-dasharray: 5 10;
}

text.caption {
    fill: #000000;
}

#popup {
    display: none;
    background: #ffffff;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
}

.pointer-top-left {
    border-radius: 0px 5px 5px 5px;
    box-shadow: 6px 6px 10px #444444;
}
.pointer-top-right {
    border-radius: 5px 0px 5px 5px;
    box-shadow: -6px 6px 10px #444444;
}
.pointer-bottom-right {
    border-radius: 5px 5px 0px 5px;
    box-shadow: -6px -6px 10px #444444;
}
.pointer-bottom-left {
    border-radius: 5px 5px 5px 0px;
    box-shadow: 6px -6px 10px #444444;
}


.header {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.data {
    font-size: 16px;
    padding: 10px;
}