circle.region-usa {
    fill: #87b782;
}

circle.region-eu {
    fill: #fde0cf;
}

circle.region-india {
    fill: #80ced5;
}

circle.region-apac {
    fill: #fffa81;
}



circle.office-pune {
    stroke: #df3180;
}

circle.office-bangalore {
    stroke: #152dfb;
}

circle.office-hyderabad {
    stroke: #bf9c84;
}

circle.office-gurgaon {
    stroke: #f59a9f;
}

circle.office-chennai {
    stroke: #66b983;
}